# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Vim
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# RubyMine
.idea

# Rubby
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
uml.png

# YARD artifacts
.yardoc
_yardoc
doc/
